
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: Arial, Helvetica, sans-serif;
    }

    .hero {
        background-color: #ff5200;
        min-height: 100vh;
        padding: 30px 80px;
        color: white;
    }
    /* NAVBAR */
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo img {
        height: 45px;
    }

    .nav-links {
        list-style: none;
        display: flex;
        align-items: center;
        gap: 25px;
    }

        .nav-links li {
            cursor: pointer;
            font-size: 15px;
        }

    .btn-outline {
        border: 1px solid white;
        padding: 8px 14px;
        border-radius: 8px;
    }

    .btn-dark {
        background: black;
        padding: 8px 16px;
        border-radius: 8px;
    }
    /* HERO CONTENT */
    .hero-content {
        margin-top: 80px;
        max-width: 900px;
    }

        .hero-content h1 {
            font-size: 44px;
            line-height: 1.3;
            margin-bottom: 30px;
        }
    /* SEARCH */
    .search-box {
        display: flex;
        gap: 15px;
        margin-bottom: 40px;
    }

        .search-box input {
            padding: 14px;
            width: 100%;
            border-radius: 10px;
            border: none;
            font-size: 15px;
            outline: none;
        }
    /* CARDS */
    .cards {
        display: flex;
        gap: 25px;
    }

    .card {
        background: white;
        color: black;
        padding: 25px;
        border-radius: 18px;
        width: 260px;
    }

        .card h3 {
            font-size: 18px;
            margin-bottom: 5px;
        }

        .card p {
            font-size: 13px;
            color: gray;
            margin-bottom: 10px;
        }

        .card span {
            color: #fc8019;
            font-weight: bold;
            font-size: 14px;
        }

